<table class="table">
  <thead>
    <tr>
      <th>
        First Name
      </th>
      <th>
        Last Name
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let person of peopleCollection">
      <td>{{ person.firstName }}</td>
      <td>{{ person.lastName }}</td>
      <td>
        <button  *ngIf="update" (click)="modifyData(person.id)" class="btn btn-warning">
           Edit 
        </button>
          <button *ngIf="delete" (click)="removeData(person.id)" class="btn btn-danger">
            Delete
          </button>
      </td>
      <td>
        <a href="https://waybe-project.firebaseio.com/people/{{ person.id }}.json">Link</a>
      </td>
    </tr> 
  </tbody>
</table>
